Day2RockPaperScissors/obj/
Day5SupplyStacks/obj/
Day6TuningTrouble/obj/
Day7NoSpaceLeftOnDevice/obj/
Day2RockPaperScissors/bin/
Day5SupplyStacks/bin/
Day6TuningTrouble/bin/
Day7NoSpaceLeftOnDevice/bin/
.vs/
Day2RockPaperScissors/Properties/
Day5SupplyStacks/Properties/
Day6TuningTrouble/Properties/
Day7NoSpaceLeftOnDevice/Properties/
